

<aside class="left-sidebar" data-sidebarbg="skin6">
    <img src = "assets/img/logo-horizontal.png" class="logo">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                        aria-expanded="false">
                        <i class="fa fa-columns" aria-hidden="true"></i>
                        <span class="hide-menu">Tableau de bord</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                        aria-expanded="false">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="hide-menu">Plats à livrer</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#submenu3" data-bs-toggle="collapse" class="sidebar-link waves-effect waves-dark sidebar-link nav-link align-middle">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="hide-menu ms-1 d-none d-sm-inline">Restaurant</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100 sidebar-item">
                            <a href="#" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-tasks"></i><span class="hide-menu d-none d-sm-inline">Commandes en cours</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-list" aria-hidden="true"></i><span class="hide-menu d-none d-sm-inline">Commandes</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-list" aria-hidden="true"></i> <span class="hide-menu d-none d-sm-inline">Plats</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-credit-card" aria-hidden="true"></i><span class="hide-menu d-none d-sm-inline">Bénéfice</span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#submenu2" data-bs-toggle="collapse" class="sidebar-link waves-effect waves-dark sidebar-link nav-link align-middle">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="hide-menu ms-1 d-none d-sm-inline">Configuration</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100 sidebar-item">
                            <a href="resto/crud/crud.component.html" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-tasks"></i><span class="hide-menu d-none d-sm-inline">Gestion des restos</span></a>
                        </li>
                        <li>
                            <a href="livreur/livreur.component.html" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-list" aria-hidden="true"></i><span class="hide-menu d-none d-sm-inline">Gestion des Livreurs</span></a>
                        </li>
                        <li>
                            <a href="client/client.component.html" class="nav-link px-4 sidebar-link waves-effect waves-dark sidebar-link"> <i class="fa fa-list" aria-hidden="true"></i> <span class="hide-menu d-none d-sm-inline">Gestion des clients</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
