<app-headerfo></app-headerfo>

    <body>
                <div class="container">
                  <ul class="blog-post columns-2">
                    <li>
                      <img src="" />
                      <h3>Blog Post One</h3>
                      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                      <div class="button">Read More</div>
                    </li>
                    <li>
                      <img src="" />
                      <h3>Blog Post Two</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                      <div class="button">Read More</div>
                    </li>
                    <li>
                     <img src="" />
                      <h3>Blog Post Three</h3>
                      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                      <div class="button">Read More</div>
                    </li>
                    <li>
                      <img src="" />
                      <h3>Blog Post Four</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                      <div class="button">Read More</div>
                    </li>
                  </ul>
                </div>
      </body>
<app-footer></app-footer>