
<div class="row">
  <div class="col-md-2">
    <app-headerbo></app-headerbo>
  </div>
  <div class="col-md-8">
    <h2>Liste des restaurants sur E-Kaly</h2>

    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Spécialité</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of restoList">
              <td>{{item.name}}</td>
              <td>{{item.address}}</td>
              <td>{{item.spec}}</td>
            </tr>
          </tbody>
        </table>
        <div class="">
          <i (click)="precedent()" class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
          <i (click)="suivant()" class="fa fa-chevron-right fa-2x next d-flex justify-content-end" aria-hidden="true"></i>
        </div>
  
      </div>
    </div>
  </div>
</div>