<title>Liste de plats</title>
<app-headerfo></app-headerfo>
<div class="mt-4 ml-4">
    <!-- Search Bar -->
    <form>
        <div class="search-container">
            <div class="form-group">
                <input [(ngModel)]="nom" type="text" [ngModelOptions]="{standalone: true}" class="search" placeholder="Nom du plat">
                <input [(ngModel)]="minprice" type="number" [ngModelOptions]="{standalone: true}" class="search" placeholder="Prix minimum">
                <input [(ngModel)]="maxprice" type="number" [ngModelOptions]="{standalone: true}" class="search" placeholder="Prix maximum">
            </div>
            <button (click)="getPlats()" class="button">Search</button>
        </div>

    </form>
</div>
    <!--Product Grid-->
    <div id="div1">
        <section class="section-grid">
            <div class="grid-prod">
                <div *ngFor="let plat of listePlats" class="prod-grid"><img src="assets/img/logo.png" alt="kalita">
                    <h3>{{plat.nom}}</h3>
                    <h2>{{plat.resto_dc[0].name}} {{plat.resto_dc[0].address}}</h2>
                    <p>{{plat.categorie}}  {{plat.description}} </p>
                    <div class="prix">{{plat.prixvente}} AR</div>
                    <a href="client/ficheplat?id={{plat._id}}"><button class="btn"> Commander <i class="fa fa-shopping-cart" aria-hidden="true"></i></button></a>
                </div>
            </div>
        </section>
    </div>
    <div class="">
        <i (click)="precedent()" class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
        <i (click)="suivant()" class="fa fa-chevron-circle-right fa-2x next d-flex justify-content-end" aria-hidden="true"></i>
      </div>