<p>liste-plats works!</p>
<title>Liste de plats</title>

<h1>Bienvenue sur E-Kaly</h1>

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            E-Kaly
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div style="flex: 1 1 auto">

    </div>
    <div class="nav-links">
        <a href="client/mescommandes">Mes commandes en cours</a>
        <a href="client/panier"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Panier</a>
        <a href="deco">Se déconnecter</a>
        <a href="authfo">Se connecter</a>
        <!--<a href="" target="_blank"><i class="fa fa-list" aria-hidden="true"></i></a>-->
    </div>
</div>
<div class="container">
    <!-- Search Bar -->
    <form>
        <div class="search-container">
            <div class="form-group">
                <input type="text" class="search" placeholder="Location">
                <input type="text" class="date-from" placeholder="Check In > Check Out">
            </div>
            <div class="form-group">
                <input type="text" class="date-to" placeholder="Number of people">
            </div>
            
            <button type="submit" class="button">Search</button>
        </div>

    </form>

    <!--Product Grid-->
    <div id="div1">
        <section class="section-grid">
            <div class="grid-prod">
                <div *ngFor="let plat of listePlats" class="prod-grid"><img src="assets/img/logo.png" alt="kalita">
                    <h3>{{plat.nom}}</h3>
                    <h2>{{plat.resto_dc[0].name}} {{plat.resto_dc[0].address}}</h2>
                    <p>{{plat.categorie}} - {{plat.description}}</p>
                    <button class="btn"> Buy <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
        </section>
    </div>
</div>